@tailwind base;
@tailwind components;
@tailwind utilities;

textarea { resize: none; }

.answers {
  border: 2px solid black;
  padding: 5px;
  background-color: #9fc9fd;
  border-radius: 7px;
  text-align: center;
  width: 130px;
}

.inp {
  border:none;
  border-bottom: 1px solid black;
 
  outline: none;
}


